body{
  max-width: 800px;
  margin: auto;
  background-color: #f0f8ff;
  border-left: solid 3px #005a00;
  border-right: solid 3px #005a00;
}



header{
  display: flex;
  justify-content: space-between;
  background-color: #2ecc71;
  border-bottom: solid 5px #222;
  padding: 10px;
}
#logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
nav{
  text-align: right;
}
.link{
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 1.3em;
  font-family: monospace;
  font-weight: 600;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 20px;
  text-shadow: 2px 2px 2px #222;
}

.link::before{
  content: "";
  background-color: #209b53;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#downcv{
  background-color: transparent;
  color: #fff;
  font-size: 1.4em;
  font-family: monospace;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  padding: 13px 10px;
  margin-right: 0;
  border-radius: 5px;
  border: solid 2px #FFF;
  box-shadow: 5px 5px 2px #222;
  transition: background-color .3s ease-in-out;
}
#downcv:hover{
  background-color: #209b53;
}
